<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mural</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="reg_login.php">Registro / Login</a></li>
        </ul>
    </nav>

    <h1>Mural</h1>
    <h3>Mensagens</h3>

    <div class="message">
        <div class="category category-0">Aviso</div>
        <div class="message-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem quis nihil deleniti laboriosam, non aspernatur minus quod maxime consequuntur dicta nemo consectetur, nesciunt quo magni atque, magnam, asperiores suscipit. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo maxime voluptatibus repudiandae numquam earum ex cumque aliquid voluptatum reiciendis dolorum animi, corporis illum aperiam, laborum iure. Ad pariatur, rerum doloribus.
        </div>
        <div class="author_date">
            <div class="author">Bruce Banner</div>
            <div class="date">19/04/2019</div>
        </div>
    </div>

    <div class="message">
        <div class="category category-1">Pergunta</div>
        <div class="message-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa praesentium, rerum fugiat magnam ratione doloremque enim numquam aspernatur exercitationem ut dolore earum dolorem, id voluptas et eveniet ea, accusantium repudiandae?
        </div>
        <div class="author_date">
            <div class="author">Peter Quill</div>
            <div class="date">17/04/2019</div>
        </div>
    </div>

    <div class="message">
        <div class="category category-2">Procurando</div>
        <div class="message-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas itaque perspiciatis neque ut commodi omnis mollitia quod iure ipsa enim quae incidunt, porro quas consequuntur natus repudiandae voluptatem illo ab.
        </div>
        <div class="author_date">
            <div class="author">Tony Stark</div>
            <div class="date">16/04/2019</div>
        </div>
    </div>
</body>
</html>